<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Test Automation Suite">
    <test name="MavenSeleniumTestNG">
        <classes>
            <class name="test.java.selenium.SeleniumTests"/>
            <class name="test.java.selenium.WebsiteLink"/>
            <class name="test.java.selenium.TestBraveBrowser"></class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->